header,footer{
	padding: 1.8%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3em;
	line-height: 1.5;		
} 
.fixo{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}
.ajustes{
	line-height: 1;
	text-align: center;
}
.container{
	margin-top: 60%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	margin: 0 auto;
}
.itens{
	position: relative;
	margin: 1% 0%;
	
}
.itens::before{
	content:'';
	position: relative;
	left: 0;
	top: 0;
	padding: 1% 2%;
	background-image: url('../img/j3.png');
	background-repeat: no-repeat;
}
h1{
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	font-size:2em;
	color: #7FFF00;
    font-family: 'Courier Prime', monospace;
	margin-top: 2%;
	margin-bottom: 2%;
	}

h2{
	text-align: center;
	font-size:1.7em;
	margin-top: 2%;
	margin-bottom: 2%;

}
h3{
	font-size:1.5em;
}
p{
	font-family: 'VT323', monospace;
	font-size: 1.3em;
	color:#1C1C1C;
	text-align: justify;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

@media screen and (max-width: 599px){
	.container{
		margin-top: 65%;
	}
	.apagar{
		display:  none;
	}
}
@media screen and (min-width: 600px){
	.container{
		margin-top: 42%;
	}
}
@media only screen and (min-width:768px){
	.container{
		margin-top: 5%;
	}
	header{
		background-color:rgb(15, 165, 15);
		flex-direction: row;
		position: relative;
	}
	.menu-opcoes{
		position: absolute;
		right: 5%;
		top: 50%;
	}
	.menu-opcoes ul li{
		display: inline;
		margin-left: 10px;
	}
}
.imgtexto{
	width: 30%;
	border: 0.5em double;
	}